/* Body */

/*

/* Header */
.logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

/* Navigation */
nav {
    text-align: center;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
nav ul {
    list-style-type: none;
    background-color: #e99ea6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}
nav ul.hide {
    display: none;
}
nav ul li {
    padding: 1rem;
    text-decoration: none;
    font-family: Lato, sans-serif;
}
nav ul li:hover {
    background-color: #5c9c36;
}
.active {
    text-decoration: underline overline;
    text-underline-offset: .4rem;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

/* Main */
main {
    margin: 0 auto;
    max-width: 90%;
}
h1, h2, h3 {
    text-align: center;
    color: #d41e0f;
    font-family: 'Dancing Script', serif;
}
p {
    font-family: Lato, sans-serif;
}
section {
    padding-bottom: 20px;
}
hr {
    border: 1px solid #5c9c36;
}
main img {
    max-width: 100%;
}
.forecast {
    margin: 0 auto;
    font-family: Lato, sans-serif;
    text-align: center;
}
.forecast div {
    background-color: #5c9c3685;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.forecast h3 {
    color: #000;
    font-family: Lato, sans-serif;
}
.forecast figure img {
    max-width: 60px;
}
#callToAction {
    position: relative;
    margin: 0 auto;
}
#callToAction img {
    height: 400px;
    object-fit: cover;
}
.orderInfo {
    height: 80px;
    width: 130px;
    position: absolute;
    top: 110px;
    right: 20px;
    font-family: Lato, sans-serif;
    padding: 10px;
    background-color: #ffffff90;
}
#createDrink {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #5c9c36;
}
#createDrink:hover {
    background-color: #5c9c3690;
}
/* Footer */
footer {
    margin-top: 20px;
    background-color: #e99ea6;
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons img {
    width: 40px;
    margin: 20px 30px 10px;
}
.contactInfo {
    text-align: center;
    font-size: .8rem;
    padding-bottom: 20px;
}
.contactInfo h2 {
    color: #000;
}
.contactInfo hr {
    border: .5px solid #000;
}

/* Fresh Page */
fieldset {
    padding-left: .5rem;
    font-family: Lato, san-serif;
    border: none;
    border-top: 1px solid #5c9c36;
    margin-bottom: 2rem;
}
legend {
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
input, textarea {
    display: block;
    padding: .5rem;
}
textarea {
    height: 200px;
    width: 90%;
    margin: .5rem;
}
.top {
    display: block;
    padding-left: .5rem;
    padding-bottom: .5rem;
}
input {
    min-width: 190px;
}
.fruitOptions {
    display: flex;
    min-width: 210px;
    padding: .5rem;
    margin: .5rem;
}
#drinkBtn {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-color: #5c9c36;
}

/* About page */
.map {
    max-width: 300px;
    margin: 0 auto;
}