@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

main {
    max-width: 100%;
}
table {
    font-family: Ubuntu, san-serif;
    box-shadow: 5px 5px 5px gray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid gray;
    padding: .5rem;
}
.head {
    font-size: 2em;
    font-weight: bold;
}
.head-foot {
    background-color: #7fb9c2;
}
.header-names {
    background-color: #628ca6 !important;
    color: #fff;
    font-weight: bold;
}
tr:nth-child(2n) {
    background-color: #e7ffed;
}
tr {
    background-color: #e7f0ed;
}
.sales-met {
    background-color: #628ca6;
    color: #fff;
}
#black-friday {
    font-style: italic;
}
.column-merge {
    text-align: center;
}
.sales-goal {
    text-align: center;
}
.foot {
    font-size: .8em;
}