/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

body {
    background-color: #fbfbfb;
    font-family: Roboto, san-serif;
    color: #000;
    margin: 0 auto;
    padding: 0;
}
aside {
    background-color: #264653;
    color: #fff;
    text-align: center;
    font-family: Lora, serif;
    padding: 10px;
}
/* Header */
header {
    font-family: Lora, serif;
    display: flex;
}
#headerLogo {
    width: 30%;
    align-self: center;
    margin: 0;
}
#siteTitle {
    align-self: center;
}
.social {
    max-width: 30px;
    list-style: none;
    align-self: center;
    text-align: right;
    padding-right: 10px;
}

/* Navigation */
nav {
    font-family: Roboto, san-serif;
    font-weight: 400;
    background-color: #264653;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fbfbfb;
    margin: 0;
    padding:0;
}
nav button {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    padding-bottom: 10px;
    color: #fbfbfb
}
nav ul {
    padding: 0;
}
nav ul.hide {
    display: none;
}
nav li {
    flex: 1 1 auto;
    list-style: none;
}
nav a {
    display: block;
    color: #fbfbfb;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
nav a:hover {
    background-color: #fdbf5e;
    color: #000000;
    font-size: 1.1rem;
}

/* Date Span */
#dateSpan {
    color: #fbfbfb;
    background-color: #264653;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Lora, serif;
    font-size: .9rem;
}
#last-visit-p {
    text-align: center;
    padding: 1rem;
    background-color: #264653;
    color: #fbfbfb;
    font-family: Roboto, serif;
    font-size: .8rem;
}
/* Main content */
h1, h2, h3, h4 {
    font-family: Lora, serif;
    margin: 10px;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1rem;
}
p {
    margin: 10px;
}
section {
    margin: 5px;
}
#join {
    display: none;
}
.link {
    color: #fdbf5e;
    text-decoration: underline;
}
#hero, #event, #weather, #news, #join {
    height: 200px;
    border: none;
    background-color: #264653;
    position: relative;
}
#spotlight {
    margin-top: 10px;
    height: 330px;
/*    border: 1px solid #264653;*/
    background-color: #fbfbfb;
}
#spotlight h3 {
    text-align: center;
    margin-top: 20px;
}
#spotlight p {
    font-size: .9rem;
}
.spotlightImage {
    height: 100%;
    width: auto;
/*    margin: auto;
    display: block;*/
    float: left;
    margin-right: 20px;
}
.spotlightImage:hover {
    opacity: 0.5;
    box-shadow: 5px 5px 5px #264653;
}
.spotInfo {
    text-align: center;
    padding: 30px;
}
#spot1, #spot2, #spot3 {
    height: 150px;
    border: 1px solid #264653;
    margin: 0 auto;
    margin-bottom: 10px;
}
#spot3 {
    display: none;
}
#hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#hero button {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #fdbf5e;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Lora, serif;
    border: none;
    border-radius: 10px;
}
#hero button li {
    list-style: none;
}
#hero button:hover {
    background-color: #78909960;
}
#hero button a {
    text-decoration: none;
    color: #000;
}
#hero button a:hover {
    color: #fbfbfb;
}
#event img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.eventInfo {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    font-family: Lora, serif;
}
#weather img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.weatherInfo {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: rgba(255,255,255,.6);
}
#news {
    background-color: #264653;
    color: #fbfbfb;
    padding: 15px;
}
#news h3 {
    padding-bottom: 10px;
}

/* Footer */
footer {
    font-family: Lora, serif;
    text-align: center;
}
footer h2 {
    font-size: 1rem;
    font-style: italic;
}
footer img {
    max-width: 20%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
footer .address {
    font-style: italic;
}
.contactInfo {
    font-size: .8em;
}
.classInfo {
    font-size: .8em;;
}

/* Discover Page */
.discover-header {
    display: block;
    text-align: center;
}
.discover img {
    display: flex;
    align-content: center;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 #bbb;
    transition: 0.3s;
    overflow: hidden;
    margin: 2%;
}
.caption {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    margin-top: 2%;
    font-family: Lora, serif;;
}
.fact {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    font-family: Roboto, san-serif;
}

/* Join Page */
.joinPage h2 {
    text-align: center;
    padding: 1rem;
}
fieldset {
    padding: .5rem;
    margin: 1rem;
    font-family: Lora, serif;
    font-weight: 700;
}
legend {
    margin-left: .5rem;
}
input, textarea {
    display: block;
    padding: .5rem;
}
label {
    font-weight: 400;
}
textarea {
    height: 200px;
    width: 95%;
}
.top {
    display: block;
    padding: .5rem;
}
.sbs {
    display: flex;
    width: 150px;
    font-weight: 700;
    margin-top: .5rem;
}
input[type="radio"] {
    margin-right: .5rem;
}
#joinTwo {
    margin-left: 1rem;
    font-weight: 700;
}
#tierOptions {
    display: flex;
}
#npDescription, #bronzeDescription, #silverDescription, #goldDescription {
    display: none;
}